body {
    font-size: 18px;
    line-height: 1.5;
    font-family: Cambria, Palatino Linotype, Palatino, Liberation Serif, serif;
    margin: 0 20%;
    color: #333;
}

code {
    font-size: 0.8em;
    font-family: Consolas, Monaco, monospace;
}

ol.toc {
    list-style: none;
    padding-left: 2ex;
}

ol.proc, ol ol ol ol {
    list-style-type: decimal;
}

ol.proc ol, ol ol ol ol ol {
    list-style-type: lower-alpha;
}

ol.proc ol ol, ol ol ol ol ol ol {
    list-style-type: lower-roman;
}

es-note {
    display: block;
    margin-left: 5em;
    color: #666;
}

es-note span.note {
    text-transform: uppercase;
    margin-left: -5em;
    display: block;
    float: left;
}

es-production {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5ex;
}

es-production.inline {
    display: inline;
    margin: 0;
}

es-production.inline es-rhs {
    display: inline;
    padding-left: 1ex;
}
es-constraints {
    font-size: .75em;
    margin-right: 1ex;
}

es-gann {
    margin-right: 1ex;
}

es-gann es-t:last-child,
es-gann es-nt:last-child {
    margin-right: 0;
}

es-geq {
    margin-left: 1ex;
    font-weight: bold;
}

es-oneof {
    font-weight: bold;
    margin-left: 1ex;
}

es-nt {
    font-style: italic;
}

es-rhs es-nt {
    margin-right: 1ex;
}

es-t {
    font-family: monospace;
    font-weight: bold;
    margin-right: 1ex;
}

es-rhs {
    display: block;
    padding-left: 50px;
}

es-mods {
    font-size: .75em;
    vertical-align: sub;
    font-style: normal;
}

es-gprose {
    font-size: 0.9em;
    font-family: Helvetica, Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
    position: relative;
}
h2 .secnum,
h3 .secnum,
h4 .secnum,
h5 .secnum,
h6 .secnum {
    position: absolute;
    text-align: right;
    right: 100%;
    margin-right: 1ex;
}

h1 { font-size: 2.67em; }
h2 { font-size: 2em; }
h3 { font-size: 1.56em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.11em; }
h6 { font-size: 1em; }



es-clause {
    display: block;
}

/* Figures and tables */
figure { display: block; margin: 1em 0 3em 0; }
figure object { display: block; margin: 0 auto; }
figure table.real-table { margin: 0 auto; }
figure figcaption {
    display: block;
    color: #555555;
    font-weight: bold;
    text-align: center;
}

table.real-table {
    border-collapse: collapse;
}
table.real-table td, table.real-table th {
    border: 1px solid black;
    padding: 0.4em;
    vertical-align: baseline;
}
table.real-table th {
    background-color: #eeeeee;
}

/* Note: the left content edges of table.lightweight-table >tbody >tr >td
   and div.display line up. */
table.lightweight-table {
    border-collapse: collapse;
    margin: 0 0 0 1.5em;
}
table.lightweight-table td, table.lightweight-table th {
    border: none;
    padding: 0 0.5em;
    vertical-align: baseline;
}
